[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
sentry-sdk = "*"
attrs = "*"
boto3 = "*"
smart-open = "*"
lxml = "*"
jsonlines = "*"

[dev-packages]
black = "*"
coveralls = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
ruff = "*"
ipython = "*"
moto = "*"
types-python-dateutil = "*"
boto3-stubs = {version = "*", extras = ["eventbridge", "s3", "sqs"]}
lxml-stubs = "*"
freezegun = "*"

[requires]
python_version = "3.11"

[scripts]
harvester = "python -c \"from harvester.cli import main; main()\""
