[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
sentry-sdk = "*"
attrs = "*"
boto3 = "*"
jsonschema = "*"
rfc3339-validator = "*"
smart-open = "*"
lxml = "*"
jsonlines = "*"
pycountry = "*"
pygit2 = "*"

[dev-packages]
black = "*"
coveralls = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
ruff = "*"
ipython = "*"
moto = "*"
types-python-dateutil = "*"
boto3-stubs = {version = "*", extras = ["events", "s3", "sqs"]}
lxml-stubs = "*"
freezegun = "*"
types-jsonschema = "*"
types-pyyaml = "*"
types-requests = "*"

[requires]
python_version = "3.11"

[scripts]
harvester = "python -c \"from harvester.cli import main; main()\""
